/**
* 8.0 Media Queries
 * ----------------------------------------------------------------------------
 */
@media only screen and (max-width: 1250px){
		
	.contact-input{width:30%;}
	
	/************** Sidebar *************/	
	#primary, .homepage #home_primary{width: 72%;}
	#secondary{width:25%;}
	
	/************** Content *************/
	.woocommerce ul.products li.first, .woocommerce-page ul.products li.first{clear:none;}	
	.woocommerce ul.products li.product, .woocommerce-page ul.products li.product{width:33.33%!important;}	
	
	.woocommerce ul.products li.product a img, .woocommerce-page ul.products li.product a img{width:100%;}
	.woocommerce  ul.products.grid li.first, .woocommerce-page  ul.products.grid li.first{clear:none;}	
	
	.woo-grid .woocommerce ul.products li.product{width:24.7%;}
	.woo-grid .woocommerce ul.products li.first{clear:none;}
	
	.woocommerce-page ul.products.list li.product h3, 
	.woocommerce ul.products.list li.product h3, 
	.woocommerce-page ul.products.list li.product div[itemprop="description"], 
	.woocommerce ul.products.list li.product div[itemprop="description"], 
	.woocommerce-page ul.products.list li.product .price, 
	.woocommerce ul.products.list li.product .price, 
	.woocommerce-page ul.products.list li.product.gridlist-buttonwrap, 
	.woocommerce ul.products.list li.product.gridlist-buttonwrap,
	ul.products.list .woocommerce-product-details__short-description{width: 55%;}			
	.post-image > img{width:100%;}
	input {
		-webkit-appearance: none;
		border-radius: 0;
	}
	.woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1,.woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2{width:41%;}
	.woocommerce ul.products li .container-inner, .woocommerce-page ul.products li .container-inner{display:inline-block;}
	.cms-banner-item .static-text{font-size:18px;}
	/************** Shortcode *************/	
	.cms-banner-inner img {width: calc(100% + 20px);}
	.single-category-banner.single-cat3 {padding: 8px;}
	.single-category-banner.single-cat4 {padding: 0 8px 8px;}
	
	/************** Footer *************/
	.site-footer .newsletter-email,.site-footer .tnp-subscription .tnp-email{width:100%;}
	
}
@media only screen and (min-width: 980px) and (max-width: 1249px) {	
	.topbar-main, .header-main, .slider_area_inner, .footer_inner, .full-width .inner-container, 
	.site-footer .inner-container, .panel-row-style-inner-container, .main-content.left-sidebar, 
	.top_main, .footer-bottom-container, .page-title-inner, .navigation-menu, .parallax-inner-container, 
	.main-content-inner, .parallax-service{	width:940px; }
	.topbar-banner ul li{width:32.2%;}
	/************** Sidebar *************/		
	#primary-sidebar .widget_product_search .search-field,.widget_search #searchform .search-field{width:82%;}
	
	/************** Content *************/		
	.woocommerce.list-view .woocommerce-result-count, .woocommerce-page.list-view .woocommerce-result-count { width: 55%;}	
	.woocommerce ul.products li.product a img, .woocommerce-page ul.products li.product a img{width:100%;height:auto;}			
	.cms-banner3 { margin: 0 8px;}
	.woocommerce .single-product-full #content .product div.images {width: 33%;}
	.woocommerce .single-product-full #content .product div.entry-summary {margin: 0 2%;width: 33%;}
	.blog-posts-content .style-2 .post-content-inner{width:60%;}
	.woocommerce #content div.product div.images img, .woocommerce div.product div.images img, .woocommerce-page #content div.product div.images img, .woocommerce-page div.product div.images img{max-width:90%;}
			
	/************** Footer *************/
	#footer-widget-area .first-widget {padding-right: 20px;}
	.footer-widget {padding: 40px 20px;width: 200px;}
	#footer-widget-area .fourth-widget {width: 195px;}
	.contact_email {overflow:hidden;}
	.footer a, .site-footer a{word-wrap: break-word;}	
	.footertop-band .custom-text-container{width:45% !important;}
	.footertop-band .two_fifth,	.footertop-band .three_fifth{width:50%;}

}
@media only screen and (max-width: 979px){
	/****************** Start Primary navigation ******************/
	.menu-home{display:none;}
	.mega-menu #menu-menu > li > a:before{
		display:none;
	}	
	.menu-toggle:before{
		content: "\f0c9";
		color: #FFFFFF;
		font-size: 28px;
		margin-top: 0;
		position: absolute;
		right: 25px;
    	top: 20px;
	}
	.toggled-on .nav-menu li a	{padding:8px !important;}
	.menu-toggle {
		color: #ffffff;
		display: block;
		font-size: 15px;
		text-transform:uppercase;
		font-weight:700;
		margin: 0;
		padding: 25px;
		position: relative;		
		width: auto;
		cursor:pointer;
	}
	.mega {
		display: none;
	}
	.toggled-ond iv.mega-menu ul,
	.toggled-on div.mega-menu,
	.toggled-on .mega-menu ul li .sub-container.mega .sub {
		display: block;
		width:auto;
		left:0;
	}
	.toggled-on li .mobile_togglemenu {
		display: inline-block;
		padding: 10px 0 0;
		position: absolute;
		width: 100%;
		left: 0;
		top: 0;		
		cursor:pointer;
	}
	.mobile_togglemenu:before, .sub-menu .mobile_togglemenu:before {
		color: #555;
		content: "\f067";
		font-size: 11px;
		font-family:FontAwesome;
		margin-top: 0;
		position: absolute;
		right: 10px;
		top: 6px;
	}		
	.active .mobile_togglemenu:before{
		content: "\f068";
	}
	.mega-hover > .mobile_togglemenu:before{content: "\f068";}
	.toggled-on .mega-menu .mega {
		background: #282d30;
		border-style:solid none;
		border-width:1px 0 0;
		border-top-color:#3498db ;
		display: block;
		margin-left: 0;
		z-index: 999;
		position: absolute;
		left:0;
		top: 66px;
		padding: 10px 0;
   		width: 100%;
			
		}
	.mega-menu .collapsable-hitarea:after {	
		color: #cccccc;
		content: "\f068";
		cursor: pointer;
		display: block;
		font-family: FontAwesome;
		font-size: 10px;
		font-weight: normal;
		height: 30px;
		line-height: 30px;
		position: absolute;
		right: 5px;
		text-align: center;
		top: 0px;
		width: 40px;
	}
	.mega-menu .expandable-hitarea:before {	
		color: #cccccc;
		content: "\f067";
		cursor: pointer;
		display: block;
		font-family: FontAwesome;
		font-size: 10px;
		font-weight: normal;
		height: 30px;
		line-height: 30px;		
		position: absolute;
		right: 5px;
		text-align: center;
		top: 0;
		width: 40px;
	
	}
	.toggled-on .mega-menu ul li,
	.toggled-on .mega-menu ul li .sub-container.non-mega li,
	.toggled-on .mega-menu ul li .sub li.mega-hdr {
		height: auto !important;		
		width: 100% !important;
		text-align: left;
		position: relative;
		background:none;
	}
	.toggled-on .mega-menu ul li .sub li.mega-hdr a.mega-hdr-a {
		background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
		font-weight: normal;
		height: auto !important;
		margin: 0;
		text-transform: none;
		border: none;
		font-family:"Open Sans",Arial,Verdana;
	}
	.toggled-on .mega-menu li > ul,
	.toggled-on .mega-menu li .sub-menu {
		display: block;
		float: none;
		position: relative;
		left: auto;
		top: auto;
		border: none;
		padding: 0;
		margin: 0 0 0 15px;
	}
	.toggled-on .mega-menu li > ul .mobile_togglemenu,
	.toggled-on .mega-menu li .sub-menu .mobile_togglemenu{
	}
	.mega-menu ul li .sub-container.non-mega li a { padding:5px 2%; }
	.mega-menu ul .sub li.mega-hdr li a { padding:5px 2%; }
	.mega-menu ul li a{color:#cccccc;padding: 5px 15px;}
	.mega-menu ul li a:hover{
		color:#ffffff;
		background:none;
	}
	.mega-menu li:hover > a,.mega-menu .current_page_item > a{		
		color:#ffffff;
		background:none;
	}
	.toggled-on .mega-menu ul li .sub-container {
		left: 0 !important;
		position: relative;
		top: 0 !important;
		margin: 0 !important;
		clear:both;
	}	
	.toggled-on .mega-menu ul li .sub-container.mega .sub,
	.toggled-on .mega-menu ul li .sub-container.non-mega .sub {
		margin: 0 0 0 10px;
		padding: 0;
	}
	.toggled-on .mega-menu ul li .sub .row {
		width: 100% !important;
	}
	.toggled-on .mega-menu ul li a .dc-mega-icon:before {
		display: none;
	}
	.navigation-menu{height:66px;}	
	.navigation-menu .navbar {
		display: block;
		margin: 0 75px 0 0;
	}
	.header_cart.headercart-block{
		position: absolute;
		right: 0;
		top: 0;
	}
	.main-navigation{
		position:static;
	}
	/****************** End Primary navigation ******************/
	
	/****************** Header ******************/
	.topbar-banner .fa{display:inline-block;width:100%;margin:0 0 5px;}
	
	/****************** Column ******************/
	#primary{width:100%;margin:0;}
	.left-sidebar #secondary, #secondary, .right-sidebar #secondary{
		width:100%;
		margin:0;
	}	
	.primary-sidebar .toggled-off .title-outer:before{
		content:'\f107';
	}
	.primary-sidebar .toggled-on .title-outer:before{
		content:'\f106';
	}
	
	.primary-sidebar .title-outer:before{
		content:'\f107';
		position: absolute;
	   	right: 15px;
		font-family: 'FontAwesome';
		font-size: 20px;
		color: #161b1e;
		top: 15px;
		border:1px solid #161b1e;
		height:22px;
		width:22px;
		text-align:center;
	}
	.primary-sidebar .widget_product_categories .title-outer:before{
		border-color:#ffffff;
		color:#fff;
	}
	.widget .widget-title:before,#primary-sidebar .woocommerce.widget_product_categories .widget-title::before{border:none;}
	.primary-sidebar .widget .widget-title{padding:0;}
	#primary-sidebar .toggled-on .main-ul,#primary-sidebar .toggled-on .widget_shopping_cart_content{
		display:block;
	}
	#primary-sidebar .toggled-off .main-ul,#primary-sidebar .toggled-off .widget_shopping_cart_content,#primary-sidebar  .widget_shopping_cart_content {
		display:none;
	}
	.primary-sidebar .widget .main-ul{
		display:none;
	}
	.primary-sidebar .title-outer,.primary-sidebar .widget_product_categories .title-outer{margin:0;}	
	.title-outer{padding:15px 15px;cursor:pointer;position:relative;margin:0;}
		
	.primary-sidebar .widget,#primary-sidebar .woocommerce.widget_product_categories{padding:0;margin:0 0 3px;}

	
	.primary-sidebar .widget.widgets-leftbanner {
		margin:15px 0;    
	}
	.primary-sidebar .widget > .main-ul, 
	.primary-sidebar .widget_shopping_cart .widget_shopping_cart_content, 
	.primary-sidebar .widget_search .main-ul,.woocommerce .price_slider_wrapper, .woocommerce-page .price_slider_wrapper{margin:0;padding:15px 15px; }
	
	/****************** Content ******************/
	.home .slider-loading{height:100%;}
	.woocommerce.list-view .woocommerce-result-count, .woocommerce-page.list-view .woocommerce-result-count{width:57%;}
	.woocommerce ul.products.grid li.product, .woocommerce-page ul.products.grid li.product,.woo-grid .woocommerce ul.products li.product{width:32.99%;}
	.woocommerce ul.products li.product.columns-2, .woocommerce-page ul.products li.product.columns-2{width:49.7%;}		
	.breadcrumbs, .woocommerce .woocommerce-breadcrumb, .woocommerce-page .woocommerce-breadcrumb {float: left;margin: 10px 0;clear:left;}
	.woocommerce #content div.product div.summary, 
	.woocommerce div.product div.summary, 
	.woocommerce-page #content div.product div.summary, 
	.woocommerce-page div.product div.summary, 
	.woocommerce .single-product-sidebar #content div.product div.summary {
		margin: 0 0 20px 0;
		width: 100%;
	}

	.woocommerce #content div.product div.images, 
	.woocommerce div.product div.images, 
	.woocommerce-page #content div.product div.images, 
	.woocommerce-page div.product div.images {		
		margin: 0 0 30px;
		text-align: center;
		width: 100%;
	}	
	.woocommerce #content div.product div.images, 
	.woocommerce div.product div.images, 
	.woocommerce-page #content div.product div.images, 
	.woocommerce-page div.product div.images,
	.woocommerce .single-product-full #content .product div.images {		
		margin: 0 auto 30px;
		text-align: center;
		width: 450px;
		float:none;
	}
	.yith_magnifier_zoom_magnifier{left:0 !important;}
	
	.hightlight-text1{font-size: 25px;}
	.hightlight-text2{font-size:35px;}
	.gallery-columns-1 .gallery-item:nth-of-type(n), .gallery-columns-2 .gallery-item:nth-of-type(2n), .gallery-columns-3 .gallery-item:nth-of-type(3n), .gallery-columns-4 .gallery-item:nth-of-type(4n), .gallery-columns-5 .gallery-item:nth-of-type(5n), .gallery-columns-6 .gallery-item:nth-of-type(6n), .gallery-columns-7 .gallery-item:nth-of-type(7n), .gallery-columns-8 .gallery-item:nth-of-type(8n), .gallery-columns-9 .gallery-item:nth-of-type(9n){margin-right:4px;}
	.gallery-columns-5 .gallery-item,.gallery-columns-4 .gallery-item{width:49%;max-width:none;}
	.portfolio_2column li, .portfolio_two li,.portfolio_3column li, .portfolio_three,.portfolio_4column li, .portfolio_four{width:48%;}
	.portfolio_3column li.last, .portfolio_three.last{margin-right:1.4%;}
	
	#woo-products{margin:0;}	
	/****************** CMS Block ******************/
	.cms-banner-item .static-text{font-size: 14px;}
	.cms-banner-item .static-text.text3 {font-size:12px;}
	.text3.static-text,.cms-banner-inner .static-inner:before{
		transform:translate3d(0px, 0px, 0px);
		-webkit-transform: translate3d(0px, 0px, 0px);
		-moz-transform: translate3d(0px, 0px, 0px);
		-ms-transform: translate3d(0px, 0px, 0px);
		-o-transform: translate3d(0px, 0px, 0px);
	}
	
	/****************** Footer ******************/
	.footer-widget,#footer-widget-area .fourth-widget{width:100%;padding:0 !important;}
	.footer-widget h3.widget-title{
		cursor: pointer;
		margin: 0;
		padding: 10px 0;
		width: 100%;
	}
	#footer-widget-area .fourth-widget{background:none;}
	#footer-widget-area{padding:20px 0 40px;}
	.footer-top-cms .one_fourth{width:50%;}
	.footer-top-cms .one_fourth .one_fourth_inner{padding:30px 0 !important; background: none !important;}
	.footer_right .accepted-payment-methods{display:block !important;}
	.footer-widget h3.widget-title:before{bottom:-15px;}
	.footertop-band .two_fifth,.footertop-band .three_fifth{width:100%;text-align: center;}
	.footertop-band .shortcode-title,.footertop-band .custom-text-container {display: inline-block; float: none;vertical-align:middle;}
	.site-footer .newsletter table, .site-footer .newsletter td{text-align:center; margin: 30px 0 10px;}
	.site-footer .tnp-subscription {display: inline-block;float: none;margin: 30px 0 0;vertical-align: top;}
	
	.footer_left{display: inline-block;float: none;text-align: center;width: 100%;}
	.footer_center{display: inline-block;float: none;text-align: center;width: 100%;margin: 5px 0 0;}
	.footer_right {display: inline-block;margin: 5px 0 0; text-align: center;width: 100%;}
	.woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals{width:100%;}
	.footer-top-cms{padding:25px 0 !important;}
	h1.entry-title a{font-size:20px;}
	
	.vertical_tab .tab_groupcontent{width:66%;}
	.contact-input{width:100%;}
	.widget .widget-title{padding:0;}	
	.team-posts-content.posts-content .container{width:33.33%;}
	.newsletter tbody{float:none;}
	.newsletter tr {float:none;display:inline-block;}
	.footertop-band .custom-text-container{width:auto;}
	
}
@media only screen and (min-width: 768px) and (max-width: 979px) {	
	.topbar-main, .header-main, .slider_area_inner, .footer_inner, .full-width .inner-container, 
	.site-footer .inner-container, .panel-row-style-inner-container, .main-content.left-sidebar, 
	.top_main, .footer-bottom-container, .page-title-inner, .navigation-menu, .parallax-inner-container, 
	.main-content-inner, .parallax-service,.inner-container{
		width:724px;
	}
	.topbar-banner ul li.content2 {margin: 0 8px;}
	.topbar-banner .content { min-height: 71px; }
	/****************** Content ******************/	
	.woocommerce .single-product-full #content .product div.entry-summary {margin: 0 2% 0 0;width: 59%;}		
	.widget .widget-title{font-size:18px;}
	.cms-banner1{margin: 0 12px 20px 0;}
	.cms-banner2{margin: 0 12px 0 0;}
	.cms-banner3{margin: 0 6px;} 
	.cms-banner4{margin: 0 0 20px 12px;}
	.cms-banner5{margin: 0 0 0 12px;}
	.page-title {padding: 20px 0;}
	
	.woocommerce-page ul.products.list li.product h3, 
	.woocommerce ul.products.list li.product h3, 
	.woocommerce-page ul.products.list li.product div[itemprop="description"], 
	.woocommerce ul.products.list li.product div[itemprop="description"], 
	.woocommerce-page ul.products.list li.product .price, 
	.woocommerce ul.products.list li.product .price, 
	.woocommerce-page ul.products.list li.product.gridlist-buttonwrap, 
	.woocommerce ul.products.list li.product.gridlist-buttonwrap,
	ul.products.list .woocommerce-product-details__short-description{width: 58%;}
}
@media only screen and (max-width: 767px){	
	.main-container{padding:20px 0 !important;}
	.topbar-main, .header-main, .slider_area_inner, .footer_inner, .full-width .inner-container, 
	.site-footer .inner-container, .panel-row-style-inner-container, 
	.top_main, .footer-bottom-container, .page-title-inner, .parallax-inner-container, 
	.main-content-inner, .parallax-service,.inner-container{
		width:auto;
		margin:0 15px;
	}
	.topbar-main .header-menu-links li a{color:#ffffff;}
	.topbar-main .header-menu-links li a:hover{color:#3498db ;}
	.site-header-main .top_main{margin:0;}
	.main-content.left-sidebar{width:auto;}
	.one_half, .one_third, .two_third, .three_fourth, .one_fourth, .one_fifth, .two_fifth, .three_fifth, .four_fifth, .one_sixth, .five_sixth{width:100% !important;}
	.content_inner{
		width:100% !important;
		margin:0 !important;
		padding:0 !important;
	}
	
	/****************** Header ******************/	
	.header_left { display: inline-block;  float: none;	margin:0;width: 100%;text-align:right;}
	.header_center{float:left;}
	.navigation-menu{width:auto;}
	.header-main { display: inline-block;  padding:30px 0; width: 100%;margin:0;vertical-align:top;}
	.site-header-main{padding:0 15px;width:auto;}
	.toplink-toggle{display:block;}
	.toplink-toggle:before{
		font-family:'FontAwesome';
		content:'\f0c9';
		font-size: 17px;    
		color:#000000;
		cursor:pointer;
	}	
	.header-menu-links ul {
		background-color:#282d30;				
		border-style:solid;
		border-width:1px 0 0;
		border-top-color:#3498db ;
		padding: 15px 20px;
		position: absolute;
		top: 30px;
		left:0;
		min-width:120px;
	}
	.header-menu-links li{display:block;vertical-align:top;}
	.header-menu-links li a{border:none;color:#cccccc;display:block; padding: 7px 0;}
	.header-menu-links li a:hover{color:#ffffff;}
	.header-menu{display:none;}	
	
	/****************** Content ******************/	
	.woocommerce-MyAccount-navigation {width:100%; margin: 0 0 30px 0;}
	.woocommerce-MyAccount-content {overflow:visible;}
	.woocommerce ul.products li.product, .woocommerce-page ul.products li.product{width:50%!important;}
	.woocommerce ul.products.grid li.product, .woocommerce-page ul.products.grid li.product,.woo-grid .woocommerce ul.products li.product{width:49.80%;}	
	.cms-banner{text-align:center;}
	.cms-banner-item {
		margin: 0 0 20px !important;
		text-align: center !important;
		display:inline-block;
	}
	.page-title {padding: 20px 0 10px;}
	.category-toolbar .gridlist-toggle,#primary .gridlist-toggle{display:none;}	
	.woocommerce.list-view .woocommerce-result-count, .woocommerce-page.list-view .woocommerce-result-count {text-align: left;width: 100%;margin:10px 0;}
	.woocommerce .woocommerce-ordering, .woocommerce-page .woocommerce-ordering{float:left;}
	.woocommerce ul.products.list .container-inner .image-block, .woocommerce-page ul.products.list .container-inner .image-block{margin: 0 20px 20px 0;}
	.woocommerce-page ul.products.list li.product h3, .woocommerce ul.products.list li.product h3, .woocommerce-page ul.products.list li.product div[itemprop="description"], .woocommerce ul.products.list li.product div[itemprop="description"], .woocommerce-page ul.products.list li.product .price, .woocommerce ul.products.list li.product .price, .woocommerce-page ul.products.list li.product.gridlist-buttonwrap, .woocommerce ul.products.list li.product.gridlist-buttonwrap,
	ul.products.list .woocommerce-product-details__short-description{width:100%;}			
	
	.woocommerce .single-product-full #content .product div.entry-summary {margin: 0 0 20px 0;width: 100%;}
	.woocommerce #content div.product div.summary, .woocommerce div.product div.summary, 
	.woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.summary {
		margin: 0 0 20px;
		width: 100%;
	}
	.woocommerce #content div.product div.summary, .woocommerce div.product div.summary, 
	.woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.summary, 
	.woocommerce .single-product-sidebar #content div.product div.summary{width:100%;margin:0 0 20px 0;}
	.singleproduct-sidebar{float:left;}
	
	.blog-posts-content .owl-theme .owl-controls .owl-buttons div.owl-next{right:0;}
	.blog-posts-content .owl-theme .owl-controls .owl-buttons div.owl-prev{right:25px;}	
	.blog-posts-content .post-author{display:none;}	
	.cols-3 .container, .cols-3 .category-block{width:50%;}
	
	.gallery-columns-3 .gallery-item,.gallery-columns-4 .gallery-item,.gallery-columns-5 .gallery-item{max-width:49%;}
	.portfolio-filter-container .item{width:49%;}	
	
	.woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1,
	.woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2{width:100%;}
	.woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1, .woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2{width:88%;float:left;margin:0 0 20px;}
		
	
	.parallax-text,.parallax2 .parallax-text,.parallax2 .parallax-inner-container .description,.parallax2 .button_content_inner,.parallax-inner-container .description{width:100%;text-align:center;}
	.hightlight-text1,.hightlight-text2 {display: inline-block;float: none;width: 100%;}
	.blog-posts-content .owl-theme .owl-controls .owl-buttons div,.home-blog .blog-posts-content .owl-theme .owl-controls .owl-buttons div{margin:0;}
	.home-blog2 .blog-posts-content .owl-theme .owl-controls .owl-buttons div{margin:0 26px;}
	.home-blog2 .posts-content .container{text-align:center;}
	.blog-posts-content .style-2 .post-date-wrapper{margin:0;}
	.blog-posts-content .style-2 .post-content-inner{width:100%;}
	/****************** Shortcode  ******************/	
	.cms-category .content_inner{text-align:center;}
	.cms-category .single-category-banner {padding: 8px ;  display: inline-block;}
	.cms-category .single-category-banner img{width:100%;}
	.about_image > img { width: 100%;}
	/****************** Footer ******************/	
	.footer-top-cms .one_fourth .one_fourth_inner{padding:15px 0 !important;}
	
	/****************** Toggle container ******************/	
	.toggle-content .toggled-off .title-outer:before{
		content:'\f107';
	}
	.toggle-content .toggled-on .title-outer:before{
		content:'\f106';
	}
	.toggle-content .main-ul{
		margin:10px 0 0;
	}
	.toggle-content .toggle_title{display:block;text-align:left;background-color:#f1f1f1;}		
	.toggle-content .toggled-off .main-ul,.toggle-content .main-ul{display:none;}
	.toggle-content .toggled-on .main-ul{display:block;}	
	.toggle-content .title-outer:before{
		content:'\f107';
		position: absolute;
	   	right: 15px;
		font-family: 'FontAwesome';
		font-size: 20px;
		color: #161b1e;
		top: 15px;
		border:1px solid #161b1e;
		height:22px;
		width:22px;
		text-align:center;
	}	
	.customaction_title1{display:block;margin:0;}
	.customaction_title2{margin:20px 0;}
	.product-block-hover{	
		transform: scale(1);
		-webkit-transform: scale(1);
		-ms-transform:scale(1);
		-o-transform:scale(1);
		-moz-transform:scale(1);
	}
	.team-posts-content.posts-content .container{width:50%;}
	/****************** Quick view ******************/	
	
	.tm-about-text {margin: 0 0 20px;text-align: center;}
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
	
	/****************** Header ******************/	
	.topbar-banner ul li{width:32%;}
	.topbar-banner ul li.content2 {margin: 0 2%;}
}
@media only screen and (max-width: 600px) {

	/****************** Header ******************/	
	.header_left{text-align:center;}
	.header_center,.header_right{float:none;display:inline-block;width:100%;}
	.header_center { margin: 15px 0;}
	.header-search{display:inline-block;}

	/****************** Content ******************/		
	
	.woocommerce #content div.product .woocommerce-tabs ul.tabs, 
	.woocommerce div.product .woocommerce-tabs ul.tabs, 
	.woocommerce-page #content div.product .woocommerce-tabs ul.tabs, 
	.woocommerce-page div.product .woocommerce-tabs ul.tabs{width:100%;}
	
	.woocommerce #content div.product .woocommerce-tabs .panel, 
	.woocommerce div.product .woocommerce-tabs .panel, 
	.woocommerce-page #content div.product .woocommerce-tabs .panel, 
	.woocommerce-page div.product .woocommerce-tabs .panel{padding:20px;}
	
	.woocommerce #content div.product .woocommerce-tabs .panel, 
	.woocommerce div.product .woocommerce-tabs .panel, 
	.woocommerce-page #content div.product .woocommerce-tabs .panel,
	.woocommerce-page div.product .woocommerce-tabs .panel{clear:both;}	
		
	.woocommerce-cart .woocommerce > form {
		display: inline;
		float: left;
		overflow: auto;
		width: 100%;
	}		
	#woo-products .owl-theme .owl-controls .owl-buttons div{top: -75px;}
	.main-container .resp-tabs-list {width: 80%;}
	.resp-tabs-list li{width:auto;position:relative;margin:0 0 2px;display:block;text-align:center;}	
	.woocommerce table.wishlist_table{width:100%;float:left;display:inline;overflow:auto;}
	.options li,.options li:first-child {float: left; margin: 0 2px 4px; width: 48%;}	
	.entry-header  .entry-title{line-height:30px;}
}
@media only screen and (max-width: 479px) {
	/****************** Header ******************/	
	
	.header_cart .togg .widget.widget_shopping_cart{width:248px;}
	
	.topbar-banner ul li,.topbar-banner ul li.content2 {width:100%;margin:0 0 5px;}
	/****************** Content ******************/
	.woocommerce ul.products.grid li.product, .woocommerce-page ul.products.grid li.product,.woo-grid .woocommerce ul.products li.product{width:100%;}
	.woocommerce ul.products li.product, .woocommerce-page ul.products li.product{width:100%!important;}	
	
	.main-container .resp-tabs-list{width:100%;}
	.cols-3 .container, .cols-3 .category-block{width:100%;}	
	.images .attachment-shop_single{width:100%;}

	.woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1, .woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2{width:82%;}
	.woocommerce #content div.product div.images, 
	.woocommerce div.product div.images, 
	.woocommerce-page #content div.product div.images, 
	.woocommerce-page div.product div.images {			
		width: 100%;		
	}
	.woocommerce #content div.product div.images, .woocommerce div.product div.images, 
	.woocommerce-page #content div.product div.images, .woocommerce-page div.product div.images, 
	.woocommerce .single-product-full #content .product div.images{width:100%;}
	
	.gallery-columns-2 .gallery-item,.gallery-columns-3 .gallery-item,.gallery-columns-4 .gallery-item,.gallery-columns-5 .gallery-item{max-width:100%;}
	.portfolio-filter-container .item{width:100%;}
	.portfolio_2column li, .portfolio_two li,.portfolio_3column li, .portfolio_three,.portfolio_4column li, .portfolio_four{width:100%;}
	.portfolios li{text-align:center;}	
	.gallery-columns-5 .gallery-item,.gallery-columns-4 .gallery-item{width:100%;}
	.hightlight-text1,.parallax-inner-container .description{font-size:15px;}
	.hightlight-text2{font-size:25px;line-height:35px;}
	.site-content .entry-header {clear: both;width: 100%;}
	#woo-products .owl-theme .owl-controls .owl-buttons div {top: -85px;}
	/****************** Shortcode ******************/
	#tab ul.tabs{display:block;}
	.horizontal_tab #tab ul li{margin:0 0 2px;display:block;width:100%;}
	#tab ul li a{display:block;}
	.vertical_tab ul.tabs{width:100%;}
	.vertical_tab #tab ul li{margin:0;}
	.horizontal_tab .tab_groupcontent,.vertical_tab .tab_groupcontent{width:auto;margin:0;}
	.history .blog-grid .container-inner{margin:0;padding:0;}
	.posts-content .container{margin:0;}
	.posts-content .owl-item .container-inner{display:inline-block;text-align:center;}
	.blog-posts-content .post-image,.blog-posts-content .post-content-inner,
	.blog-posts-content .style-2 .post-date-wrapper,.blog-posts-content .style-2 .post-content-inner{display:inline-block;vertical-align:top;float:none;width:100%;margin:0;}
	.blog-posts-content .style-2 .post_author1,.blog-posts-content .comments-link{display:inline-block;float:none;}
	
	/****************** Footer ******************/
	.footertop-band .shortcode-title, .footertop-band .custom-text-container{width:100%;}
	.footertop-band .simple-type.small-title:before{border:none;}
	.footertop-band .custom-text-container{margin:20px 0 0!important;width:100% !important;}
	
	.shop_table_responsive {display: inline;float: left;overflow: auto;width: 100%;}
	.team-posts-content.posts-content .container{width:100%;}
	
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
	/****************** Content ******************/
	.site-footer .newsletter-email { width: 230px; }	
	.main-container .resp-tabs-list {width: 80%;}
}
@media only screen and (max-width: 319px){
	/****************** Header ******************/	
	.header-search input[type="text"], .header-search input[type="search"]{width:150px;}	
	.header_cart .togg .widget.widget_shopping_cart{width:168px;}
	.header-logo img { max-width: 100%; }
	
	/****************** Content ******************/	
	.site-footer .newsletter-email { width: 150px; }
	.woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1, 
	.woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2{width:75%;}
	.singleproduct-sidebar,.options li,.options li:first-child{width:100%;}
	.blog-posts-content .style-2 .post-content-inner{width:100%;}
}