/*
Description: Adds support for languages written in a Right To Left (RTL) direction.
It's easy, just a matter of overwriting all the horizontal positioning attributes
of your CSS stylesheet in a separate stylesheet file named rtl.css.
See http://codex.wordpress.org/Right_to_Left_Language_Support
*/
body {
	direction: rtl;
	unicode-bidi: embed;
}
.flexslider,.owl-carousel .owl-wrapper-outer,.home-product .owl-buttons,#revolutionslider{
	direction:ltr;
}
caption, th, td{
	text-align:right;
}
/***************	Float Left		*********************/
.header_login,.header_right,.footer_right,.cms-category .one_third,.newsletter tbody{
	float:left;
}

/***************	Float Right		********************/
.header-menu-links,.header_left,.navigation .menu-home,
.mega-menu ul li,.alignleft, .left,.footer_left,
.one_half, .one_third, .two_third, .three_fourth, .one_fourth, .one_fifth, .two_fifth, .three_fifth, .four_fifth, .one_sixth, .five_sixth,.newsletter tr{
	float:right
}

.site-footer .tnp-subscription{float:left;}
.site-footer .tnp-subscription .tnp-field{float:right;}
.site-footer .tnp-subscription .tnp-email{padding:15px 46px 14px 14px;}
.site-footer .tnp-subscription .tnp-field-email:before{right:15px;left:auto;}
/***************	Header	********************/
.mega-menu ul li .sub-container {left: auto !important;}
.header-menu-links li a{ border-width: 0 1px 0 0;}
.header-menu-links li:first-child a{  padding-left: 15px;padding-right: 0;}
.header_logout a {border-width: 0 1px 0 0;}
.header_logout a:last-child {padding-right: 15px;padding-left:0;}
.header_cart.headercart-block { float:left;}
.header_cart .shopping_cart .cart-contents{left:13px;right:auto;}
.header-contactus .phone-content::before{  margin: 0 0 0 10px;}

.header_cart .togg .widget.widget_shopping_cart{
	left:0;
	right:auto;
}
.mega-menu ul li .sub li.mega-hdr{float:right; margin: 0 0 0 20px;}
.mega-menu ul .sub li.mega-hdr li a::before, .mega-menu ul li .sub-container.non-mega li a::before {
    content: '\f104';   
    margin: 0 0 0 10px;
}
.mega-menu ul .sub li.mega-hdr li a, .mega-menu ul li .sub-container.non-mega li a{padding:5px 5px 5px 0;}
.mega-menu ul li .sub li{text-align:right;}
.mega-menu ul .sub li.mega-hdr li a:before, .mega-menu ul li .sub-container.non-mega li a:before{
	content:'\f104';
	float:right;
}
.topbar-banner .fa{margin:0 0 0 15px;}
/***************	Slider arrow	********************/

#woo-products .owl-theme .owl-controls .owl-buttons .owl-prev {left: 0px;right: auto;}
#woo-products .owl-theme .owl-controls .owl-buttons div {left: 26px; right: auto;}

.blog-posts-content .owl-theme .owl-controls .owl-buttons div.owl-prev {left: 0;right: auto;}
.blog-posts-content .owl-theme .owl-controls .owl-buttons div.owl-next {left: 25px;right: auto;}


.testimonials-container .owl-theme .owl-controls .owl-buttons div.owl-prev {left: 0;right: auto;}
.testimonials-container .owl-theme .owl-controls .owl-buttons div.owl-next {left: 25px;right: auto;}

/***************	Column	********************/
#primary, .homepage #home_primary,.left-sidebar #primary {
    float: left;
    margin-right: 15px;
	margin-left:0;
}
.right-sidebar #secondary{	float:left;}
.right-sidebar #primary{float:right;}
#secondary,.left-sidebar #secondary{float:right;}
.primary-sidebar .widget.woocommerce ul li a{padding: 4px 15px 4px 0;}
.primary-sidebar .widget ul li a, .primary-sidebar .widget ul li.recentcomments span{padding: 4px 15px 4px 0;}
.primary-sidebar .widget ul li:before{
	left:auto;
	right:0;
	content:'\f104';
}
.product-categories .hitarea, .widget_pages .hitarea, .widget_nav_menu .hitarea{left:0;right:auto;}
.widget li > ol, .widget li > ul{
	margin:0 15px 0 0;
}
.simple-type.small-title:before, .fancy-type.small-title:before{right:0;left:auto;}

/***************	Content	********************/
/*SIDEBAR RATING*/
.woocommerce .primary-sidebar .widget_rating_filter .star-rating, .woocommerce-page .primary-sidebar .widget_rating_filter .star-rating {
    float: right;
    margin: 3px 5px;
}
/*   MY ACCOUNT TAB DESIGN  */
.woocommerce-MyAccount-navigation { margin: 0 0 0 30px;  float:right;}
.woocommerce-MyAccount-navigation ul li a::before {   float: left; text-align:left;margin-right: 0.53em; margin-left:0;}

.fa{margin:0 0 0 5px;}
.home-blog .blog-posts-content { padding: 60px 0 0 20px;   }
.single-testimonial .testmonial-image {  float: right;margin: 0 0 15px 15px;}
.single-testimonial .testmonial-text { float: right; }
.single-testimonial {  text-align: right; }
.posts-content .container{  margin: 0 0 0 30px;}
.cms-banner .one_third{float:left;}
.category-toolbar .gridlist-toggle{float:right;}
.category-toolbar .gridlist-toggle a{float:right;}
.page-title .entry-title-main{float:right;}
.entry-main-content .entry-content-date, 
.grid .blog-list .entry-main-content .entry-content-date, 
.blog-list .entry-main-content .entry-content-date {
    float: right;
    margin: 0 0 0 30px;
}
.blog-list .site-content .entry-meta{float:right;}
.site-content .entry-meta > span {padding: 0 0 0 10px;}
.entry-main-header .featured-post{float:left;}
.tm_product_nav_buttons .previous,.tm_product_nav_buttons .next{text-align:left;}

.links .icon:nth-child(2), .gallery-item .gallery-redirect .icon, 
.single-portfolio .links .icon:nth-child(2), 
.portfolios .links .icon:nth-child(2), 
.blog-posts-content .links .icon:nth-child(2) {
    margin-right: -52px;
    transition-delay: 0.2s;
}
.entry-thumbnail:hover:hover .links .icon, 
.gallery-item:hover .gallery-zoom .icon, 
.gallery-item:hover .gallery-redirect .icon, 
.single-portfolio:hover .links .icon, 
.portfolios li:hover .links .icon, 
.blog-posts-content .container-inner:hover .links .icon {
    margin-right: 0;
    opacity: 1;
}
.links .icon, .gallery-zoom .icon, .gallery-redirect .icon, .blog-posts-content .block_hover .icon{ margin: 0 0 0 8px;}
.style-2 .service-desc{text-align:right;}
.woocommerce ul.cart_list li.mini_cart_item, .woocommerce-page ul.cart_list li.mini_cart_item{text-align:right;}
.primary-sidebar .widget.woocommerce.widget_product_categories li a:before{left:auto;right:0;content:'\f104';}
.site-content .entry-meta .categories-links{float:left;}
.comment-author, .comment-awaiting-moderation, .comment-content, .comment-list .reply, .comment-metadata {padding: 0 80px 0 0;}
.comment-author .avatar{left:auto !important;right:0;}


.home-blog .blog-posts-content .owl-theme .owl-controls .owl-buttons .owl-prev,
.testimonials-container .owl-theme .owl-controls .owl-buttons div.owl-prev{
    right: 26px;
    left: auto;
}
.home-blog .blog-posts-content .owl-theme .owl-controls .owl-buttons .owl-next,
.testimonials-container .owl-theme .owl-controls .owl-buttons div.owl-next{
    right: 0;
    left: auto;
}
.posts-content .owl-item .container-inner.style-2{
	direction:rtl;
}
.blog-posts-content .style-2 .post-date-wrapper{margin:0 0 0 20px;}
.widget .widget-title:before{left:auto;right:0;}
/***************	Woocommerce		********************/
.woocommerce ul.cart_list li a.remove, .woocommerce-page ul.cart_list li a.remove{left:0;right:auto;}
.woocommerce ul.cart_list li img, .woocommerce ul.product_list_widget li img, 
.woocommerce-page ul.cart_list li img, .woocommerce-page ul.product_list_widget li img {  
    float: right;
    margin:0 0 0 10px;   
}
.woocommerce ul.cart_list li, .woocommerce ul.product_list_widget li, 
.woocommerce-page ul.cart_list li, .woocommerce-page ul.product_list_widget li{text-align:right;}
.woocommerce .widget_layered_nav ul li a, .woocommerce .widget_layered_nav ul li span, 
.woocommerce-page .widget_layered_nav ul li a, .woocommerce-page .widget_layered_nav ul li span{float:right;}
.woocommerce .widget_price_filter .price_slider_amount, 
.woocommerce-page .widget_price_filter .price_slider_amount{text-align:left;}
.woocommerce .widget_price_filter .price_slider_amount .button, 
.woocommerce-page .widget_price_filter .price_slider_amount .button{float:right;}
.woocommerce .widget_layered_nav_filters ul li, .woocommerce-page .widget_layered_nav_filters ul li,
.woocommerce .woocommerce-result-count, .woocommerce-page .woocommerce-result-count{float:right;}
.woocommerce.list-view .woocommerce-result-count, .woocommerce-page.list-view .woocommerce-result-count,{text-align:left;}
.woocommerce .woocommerce-ordering, .woocommerce-page .woocommerce-ordering,
.breadcrumbs, .woocommerce .woocommerce-breadcrumb, .woocommerce-page .woocommerce-breadcrumb{float:left;}
.read-more{text-align:right;}

.woocommerce #content div.product div.images, .woocommerce div.product div.images, 
.woocommerce-page #content div.product div.images, .woocommerce-page div.product div.images {
    float: right;   
}
.woocommerce #content div.product div.summary, .woocommerce div.product div.summary, 
.woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.summary{float:right; margin: 0 2% 20px 0;}


#woo-small-products .bx-controls-direction {left: 0;right: auto;}
#woo-small-products .image-block{float:right;}
.woocommerce #woo-small-products .products li .price, .woocommerce-page #woo-small-products .products li .price{float:right;margin:0 15px 0 0;}
#woo-small-products .products .container-inner{text-align:right;}
#woo-small-products li.product h3{float:right;margin:0 15px 0 0;}

.woocommerce #content div.product form.cart .variations td.label, 
.woocommerce div.product form.cart .variations td.label, 
.woocommerce-page #content div.product form.cart .variations td.label, 
.woocommerce-page div.product form.cart .variations td.label{padding:0 0 0 1em;}
.woocommerce .woocommerce-product-rating .star-rating, 
.woocommerce-page .woocommerce-product-rating .star-rating, .wpb_wl_summary .star-rating {   
    float: right;    
    margin: 0.5em 0 0 4px;   
}
.woocommerce #content div.product .woocommerce-tabs ul.tabs, 
.woocommerce div.product .woocommerce-tabs ul.tabs, 
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs, 
.woocommerce-page div.product .woocommerce-tabs ul.tabs{float:right;text-align:right;}

.woocommerce #content div.product .woocommerce-tabs ul.tabs li.active a,
.woocommerce div.product .woocommerce-tabs ul.tabs li.active a, 
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active a,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li.active a,
.woocommerce #content div.product .woocommerce-tabs ul.tabs li a:hover, 
.woocommerce div.product .woocommerce-tabs ul.tabs li a:hover, 
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li a:hover,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li a:hover{
	border-width: 1px 1px 1px 0;
	margin: 0 0 5px -1px;
}

.tm_product_nav_buttons { left: 0;right: auto; }
.woocommerce #content div.product form.cart div.quantity, 
.woocommerce div.product form.cart div.quantity, 
.woocommerce-page #content div.product form.cart div.quantity, 
.woocommerce-page div.product form.cart div.quantity {
    float: right;
    margin: 15px 0 0 5px;
}
.woocommerce #content div.product form.cart .button, 
.woocommerce div.product form.cart .button, 
.woocommerce-page #content div.product form.cart .button,
.woocommerce-page div.product form.cart .button {
    float: right;
    margin: 15px 10px 0 0;   
}
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product{float:right;}
.woocommerce #content div.product .woocommerce-tabs .panel, 
.woocommerce div.product .woocommerce-tabs .panel, 
.woocommerce-page #content div.product .woocommerce-tabs .panel, 
.woocommerce-page div.product .woocommerce-tabs .panel{text-align:right;}
.woocommerce.list-view .woocommerce-result-count, .woocommerce-page.list-view .woocommerce-result-count{text-align:left;}
.gridlist-toggle a#grid{margin-right:0;margin-left:5px;}
.woocommerce ul.products.list .container-inner .image-block, .woocommerce-page ul.products.list .container-inner .image-block {float: right;margin: 0 0 0 20px; }
.woocommerce ul.products.list .container-inner, .woocommerce-page ul.products.list .container-inner{text-align:right;}
.woocommerce ul.products li.product .price del, .woocommerce-page ul.products li.product .price del, .woocommerce #content div.product p.price del, .woocommerce #content div.product span.price del, .woocommerce div.product p.price del, .woocommerce div.product span.price del, .woocommerce-page #content div.product p.price del, .woocommerce-page #content div.product span.price del, .woocommerce-page div.product p.price del, .woocommerce-page div.product span.price del{margin-left:5px;margin-right:0;}
.woocommerce ul.products.list li.product .star-rating, .woocommerce-page ul.products.list li.product .star-rating{left:0;right:auto;}
.woocommerce #content nav.woocommerce-pagination, .woocommerce nav.woocommerce-pagination, .woocommerce-page #content nav.woocommerce-pagination, .woocommerce-page nav.woocommerce-pagination{text-align:left;}
.yith_magnifier_zoom_magnifier{left:0 !important;right:auto !important;}


.woocommerce .woocommerce-error .button, .woocommerce .woocommerce-info .button, .woocommerce .woocommerce-message .button, .woocommerce-page .woocommerce-error .button, .woocommerce-page .woocommerce-info .button, .woocommerce-page .woocommerce-message .button { float: left;}


/***************	Quick View		********************/
.wpb_wl_images{float:right;}
.wpb_wl_summary{float:left;text-align:right;}
.wpb_wl_summary .sku_wrapper, .wpb_wl_summary .posted_in{float:right;}
.wpb_wl_summary .star-rating{margin:0 0 10px;}

/***************	Shortcode	********************/
.vertical_tab .tab_groupcontent{
	float:right;
	margin:0 0 0 3px;
}
.vertical_tab ul.tabs{float:right;}
.vertical_tab.style3 #tab ul li {margin: 0 0 0 -3px;}
.horizontal_tab #tab ul li{margin: 0 0 0 3px;}
.vertical_tab.style2 #tab ul li{margin: 0 0 0 -1px;}
.vertical_tab.style2 #tab ul li a.current,
.vertical_tab.style2 #tab ul li a:hover {   
    border-left: none;
    border-top: 1px solid #F0EFEF;
    border-bottom: 1px solid #F0EFEF;
    border-right: 2px solid #3498db;
}
.button.right i {margin-right: 10px;}
.address-container .icon {float: right;margin: 4px 0 0 10px;}
.single-faq .tog, .single-faq .tour li a{padding: 5px 30px 5px 0;}
.owl-theme .owl-controls .owl-buttons div.owl-prev{ left:0;right: auto;}
.owl-theme .owl-controls .owl-buttons div.owl-next{left: 26px;right: auto;}

.cms-banner-inner img{
	transform:translate3d(10px, 0px, 0px);
	-webkit-transform: translate3d(-0px, 0px, 0px);
	-moz-transform: translate3d(10px, 0px, 0px);
	-ms-transform: translate3d(10px, 0px, 0px);
	-o-transform: translate3d(10px, 0px, 0px);	 
}
.service .style-2 .icon {float: right;margin: 0 0 0 10px;}
.button.left i{margin-left:10px;margin-right:0;}

/***************	Footer	********************/
.footertop-band .simple-type.small-title:before {
    border-bottom: medium none;
    border-left: 1px solid #bebebe;  
	border-right: none;  
    left: -30px;
    right: auto;
    top: -4px;
}
.footertop-band .simple-type.small-title {
    margin: 8px 0 0 20px;
}
.footer-top-cms .service.style-2 {    
    text-align: right;
}
.footer-top-cms .service-content.style-2 .icon {float: right; margin: 0 0 10px 15px; }
.footer-bottom-container {text-align: left; }
.footer-widget{float:right;}
.footer_center { margin: 5px 0 0 10px; }

#footer-widget-area .first-widget {
    padding-left: 30px;
    padding-right: 0;
}
.widgets-footercontact .fa {
    clear: right;  
    float: right;      
}
ul.accepted-payment-methods li{margin:0 10px 0 0;}
.site-footer .newsletter table, .site-footer .newsletter td{text-align:left;}
#to_top{left:25px;right:auto;}

@media only screen and (min-width: 980px) and (max-width: 1249px) {	
	#footer-widget-area .first-widget {padding-left:25px;padding-right:0;}
}
@media only screen and (min-width: 768px) and (max-width: 979px) {	
	.woocommerce .single-product-full #content .product div.entry-summary {margin: 0 0 0 2%;width: 59%;}	
}
@media only screen and (max-width: 979px){
	.menu-toggle:before{
		left:25px;
		right:auto;
	}
	.toggled-on .mega-menu ul li, .toggled-on .mega-menu ul li .sub-container.non-mega li, .toggled-on .mega-menu ul li .sub li.mega-hdr{text-align:right;}
	.mega-menu .expandable-hitarea:before,.mega-menu .collapsable-hitarea:after{left:5px;right:auto;}
	.header_cart .togg .widget.widget_shopping_cart {left: auto; right: 0;}
	.toggled-on .mega-menu li > ul, .toggled-on .mega-menu li .sub-menu{margin:0 15px 0 0;}
	.mobile_togglecolumn{text-align:left;}
	.primary-sidebar .title-outer:before{left:15px;right:auto;}
	
	.toggle-content .toggle_title{text-align:right;}
	.toggle-content .title-outer::before{left:15px;right:auto;}
	
	.site-footer .mobile_togglecolumn {left: 0;right: auto;}
	.header_cart.headercart-block{left:0;right:auto;}
	.navigation-menu .navbar{margin:0 0 0 75px;}
	.header_cart .togg .widget.widget_shopping_cart{ left: 0;right: auto;}
	.woocommerce #content div.product div.images, .woocommerce div.product div.images, 
	.woocommerce-page #content div.product div.images, .woocommerce-page div.product div.images,
	.woocommerce .single-product-full #content .product div.images{float:none;}
	.site-footer .newsletter table, .site-footer .newsletter td{text-align:center;}
	.newsletter tbody,.newsletter tr {float:none;display:inline-block;}
	.site-footer .tnp-subscription{float:none;}
}

@media only screen and (max-width: 767px){
	.header-menu-links ul{right:0;left:auto;}
	.header_left{text-align:left;}
	.header_center{float:right;}
	.singleproduct-sidebar{float:right;}
	.woocommerce .woocommerce-ordering{float:right;}
	.woocommerce.list-view .woocommerce-result-count, .woocommerce-page.list-view .woocommerce-result-count{text-align:right;}
	.breadcrumbs, .woocommerce .woocommerce-breadcrumb, .woocommerce-page .woocommerce-breadcrumb{margin:0 0 10px;}
	
}
@media only screen and (max-width: 600px) {

	/****************** Content ******************/		
	.header_left{text-align:center;}
	.header_center,.header_right{float:none;display:inline-block;}
	.woocommerce #content div.product .woocommerce-tabs ul.tabs li.active a,
	.woocommerce div.product .woocommerce-tabs ul.tabs li.active a, 
	.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active a,
	.woocommerce-page div.product .woocommerce-tabs ul.tabs li.active a,
	.woocommerce #content div.product .woocommerce-tabs ul.tabs li a:hover, 
	.woocommerce div.product .woocommerce-tabs ul.tabs li a:hover, 
	.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li a:hover,
	.woocommerce-page div.product .woocommerce-tabs ul.tabs li a:hover{
		border-width: 1px 1px;
		margin: 0 0 5px 0;
	}
	.main-container .resp-tabs-list {margin: 0 0 45px;}
}
@media only screen and (max-width: 479px) {
	.header-menu-links ul{right:0;left:auto;}		
	.footertop-band .simple-type.small-title{margin:0;}
	.footertop-band .simple-type.small-title:before{border:none;}
}