/**
* 8.0 Media Queries
 * ----------------------------------------------------------------------------
 */
@import url("../harveststore/responsive.css");

@media only screen and (max-width: 1250px){
	.subbanner-inner img {width: 100%;}
}
@media only screen and (min-width: 980px) and (max-width: 1249px) {	 
ul.products.list li.product h3, ul.products.list li.product div[itemprop="description"], ul.products.list li.product .price, ul.products.list li.product .gridlist-buttonwrap {width:57% !important;}
}
@media only screen and (max-width: 979px){ 
.navigation .menu-home {display:none;} 
.navigation-menu {text-align:left; } 
.navigation-menu .navbar {margin:0;} 
.menu-toggle { padding:25px 0;} 
.menu-toggle::before {right:0;}
.mega-menu ul li a {color:#8c8c8c;}
.mega-menu li:hover > a, .mega-menu .current_page_item > a {color:#161b1e;}
.parallax-service {width:100%;}
.contact-input.last {width:100%;}
ul.products.list li.product h3, ul.products.list li.product div[itemprop="description"], ul.products.list li.product .price, ul.products.list li.product .gridlist-buttonwrap {width:57% !important;}
.primary-sidebar .widget_product_categories .title-outer::before {border-color:#161b1e; color:#161b1e;}
.footer-widget h3.widget-title:before{border:none;}
.mega-menu ul li a{font-size:15px;font-weight:normal;}
.primary-sidebar .title-outer:before{border:none;}
.toggled-on .mega-menu .mega{background-color: #282d30; border-top-color: #45494a; z-index:9999;}
.mega-menu ul li a{color:#ffffff;}
.mega-menu ul li a:hover,.mega-menu li:hover > a, .mega-menu .current_page_item > a{color:#808080;}
.primary-sidebar .widget, #primary-sidebar .woocommerce.widget_product_categories{margin:-3px 0;}
.primary-sidebar .widget.widget_search{display:none;}
}
@media only screen and (max-width: 767px){
.header_left {
	 float: left;
    margin: 15px 20px 0 0;
    text-align: left;
    vertical-align: bottom;
    width: auto;
}
.header_right {margin:17px 0 0;}
.header-menu-links li a{line-height:12px;}
.toplink-toggle:before {color:#fff;}
.gridlist-toggle {display:none;}
.header-menu-links ul {  top: 75px;
    z-index: 999;  
	background-color: #282d30;
    border-top-color:  #45494a; 
}
.home .service-content.style-1 {padding:40px 0;}
.subbanner1{margin:0 0 20px;text-align:center;}
.subbanner2{margin:0;}
.woocommerce #content div.product .woocommerce-tabs ul.tabs li.active a, .woocommerce div.product .woocommerce-tabs ul.tabs li.active a, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active a, .woocommerce-page div.product .woocommerce-tabs ul.tabs li.active a, .woocommerce #content div.product .woocommerce-tabs ul.tabs li a:hover, .woocommerce div.product .woocommerce-tabs ul.tabs li a:hover, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li a:hover, .woocommerce-page div.product .woocommerce-tabs ul.tabs li a:hover{border:none;}
}
@media only screen and (max-width: 600px) { 
.header_logout {right:-30px;}
.header_cart .togg .widget.widget_shopping_cart {right:-70px;}
#woo-products .owl-theme .owl-controls .owl-buttons div{top: 0;}
}
@media only screen and (max-width: 479px) {
	.header_center {width:100%;} 	
	.resp-tabs-list li {margin:10px 0; padding:10px 0 10px 10px; border: 1px solid #ddd; width:95%;}
	.resp-tabs-list li:first-child {padding:10px 0 10px 10px;}
	.resp-tabs-list li::before {border-bottom:none;}
	#woo-products .owl-theme .owl-controls .owl-buttons div {top:auto;}
	.home .service-content.style-1 {padding:55px 0;}
	.header_logout {right:-30px;}
}
@media only screen and (max-width: 319px){ 
.header_cart .togg .widget.widget_shopping_cart { right:-40px; width:180px;}
.header-search input[type="text"], .header-search input[type="search"] {width:100%;}
}