/*
Description: Adds support for languages written in a Right To Left (RTL) direction.
It's easy, just a matter of overwriting all the horizontal positioning attributes
of your CSS stylesheet in a separate stylesheet file named rtl.css.
See http://codex.wordpress.org/Right_to_Left_Language_Support

*/
@import url("../harveststore/rtl.css");

.header_left {margin: 0 15px 0 0;}
.header_right{margin:0 0 0 15px;}
.header_login {float:none !important;}
.header_cart .togg #shopping_cart {border-left:none; border-right:1px solid #878787; background-position:0 -79px;}
.header_cart .togg #shopping_cart:hover {background-position:-46px -79px; }
.header_cart .shopping_cart .cart-contents {left: -13px;}
#login-button {border-left:none; border-right:1px solid #878787;}
.header_right #search-button {background-position:16px -162px;}
#login-button {background-position:16px -120px;}
#login-button:hover {background-position:-30px -120px;}

.header_right #search-button:hover {background-position:-30px -162px;}
.header_right #search-button.open {background-position:16px -385px;}
.header_right #search-button.open:hover {background-position:-32px -385px;}

.header_logout {right:auto; left:20px; }
.site-content .entry-meta > span {display:inline-block;}
.main-container .resp-tabs-list {margin:0;}
#horizontalTab {text-align:center;}
.resp-tabs-list li:first-child { border: 1px solid #ddd; padding: 10px 25px;}
.resp-tabs-list li { border: 1px solid #ddd;}

#woo-products .owl-theme .owl-controls .owl-buttons div.owl-next {left:auto;}
#woo-products .owl-theme .owl-controls .owl-buttons .owl-prev {left:auto;}
.paging-navigation .loop-pagination {text-align:left;}
.paging-navigation {margin:10px 0;}

#to_top {left:35px; right:auto;}
.header_logout a, .header_logout a:last-child{padding:0 15px;}
.primary-sidebar .widget.woocommerce.widget_product_categories li a::before {content:'\f104'; left:auto; right:0;}
.woocommerce #content nav.woocommerce-pagination, .woocommerce nav.woocommerce-pagination, .woocommerce-page #content nav.woocommerce-pagination, .woocommerce-page nav.woocommerce-pagination {text-align:left;}

.woocommerce ul.products.list .container-inner .image-block, .woocommerce-page ul.products.list .container-inner .image-block {float:right; margin:0 0 0 20px;}
.woocommerce ul.products.list li.product h3, .woocommerce-page ul.products.list li.product h3, .woocommerce ul.products.list li.product h3 a, .woocommerce-page ul.products.list li.product h3 a {text-align:right;}
.woocommerce ul.products.list li.product .star-rating, .woocommerce-page ul.products.list li.product .star-rating {right:auto; left:0;}

@media only screen and (max-width: 979px){ 
.menu-toggle:before {left:auto;}
.primary-sidebar .title-outer::before {right:auto !important;}
}
@media only screen and (max-width: 767px){
.header-menu-links ul {   
    left: auto !important;
    right: 0; 
}
.header_left {   float: right !important;   margin: 15px 0 0 10px !important; text-align:right !important;}
.header_center {
    float: right !important;
}
.resp-tabs-list li:last-child {margin:0 20px 0 0 !important;}
}
@media only screen and (max-width: 479px) {.header_logout {left:-30px !important; right:auto !important;}
.header_cart .togg .widget.widget_shopping_cart {right:auto !important; left:-80px;}
 }
@media only screen and (max-width: 319px){ 
.header_logout {left:-30px !important; right:auto !important;}
}
