/*
Theme Name: WCM010024-furniture
Theme URI: http://template-demo.org/woo/WCM01/WCM010024/WP1/
Author: Templatemela
Author URI: http://www.templatemela.com
Version: 1.0
Description: Our default theme lets you create a responsive magazine website with a sleek, modern design.
License: GNU General Public License v2 or later
License URI: http://www.templatemela.com/license
Tags: orange, tan, white, yellow, light, one-column, two-columns, right-sidebar, fluid-layout,  custom-header, custom-menu, editor-style, featured-images, post-formats, rtl-language-support, sticky-post, translation-ready
Text Domain: WCM010024-furniture
Template: harveststore
*/

@import url("../harveststore/style.css");
*::-moz-selection{background-color:#dddddd;}
.home .slider-loading { background:#ffffff url("images/megnor/loading.gif") no-repeat scroll center center; height:678px;}
.parallax-service {width:100%;}
.header_logout a:last-child {padding-right:15px;}

.woocommerce #yith-wcwl-popup-message, .woocommerce-page #yith-wcwl-popup-message, .home #yith-wcwl-popup-message{background-color:#161b1e; color: #ffffff; border: 1px solid #ffffff;}

body { color: #787878;}
/*********Header************/
*::-moz-placeholder {color:#808080;}
.site-header {background:#161B1E;}
.header-main {padding:40px 0 35px; position:relative;}
.header_left {   margin: 0 0 0 15px;}
.header_right {margin:0 15px 0 0;}
.navigation-container {border-top: 1px solid #fff;}
.header-menu-links li a {padding:0 15px; border-color:#878787; line-height:20px;}
.header-menu-links li a:hover {color:#fff !important;}
.header_right #search-button {background: transparent url("images/megnor/sprite-wc.png") no-repeat scroll 0px -162px;display:inline-block; padding: 10px 20px; cursor:pointer;}
.header_right #search-button:hover {background:transparent url("images/megnor/sprite-wc.png") no-repeat scroll -46px -162px;}
.header_right #search-button.open {background: transparent url("images/megnor/sprite-wc.png") no-repeat scroll -0px -385px;}
.header_right #search-button.open:hover { background: transparent url("images/megnor/sprite-wc.png") no-repeat scroll -48px -385px;}
.header-search #searchform{float:none;}
.header-search.open {visibility:visible; opacity:1; -webkit-transition-duration: 0.5s; transition-duration: 0.5s;}	
.header-search{bottom: -68px;position: absolute;right: 0;left:0;z-index:99;border:none; visibility:hidden; opacity:0; -webkit-transition-duration: 0.5s; transition-duration: 0.5s;}
.header-search input[type="text"], .header-search input[type="search"] {width:100%; padding:22px 30px; font-size:16px; background:#161b1e; border:1px solid #fff; border-top:none; }
.header-search .woocommerce-product-search input[type="submit"], .header-search .search-form #searchsubmit {display:none;}
.header_cart {display:inline-block;}
.header_cart .togg #shopping_cart {background: transparent url("images/megnor/sprite-wc.png") no-repeat scroll 16px -79px; border-left: 1px solid #878787;padding: 10px 20px;}

.mega-menu ul .sub li.mega-hdr li a:hover, .mega-menu ul li .sub-container.non-mega li a:hover {background:none;}

.header_cart .togg #shopping_cart:hover { background: transparent url("images/megnor/sprite-wc.png") no-repeat scroll -30px -79px;}
.header_cart .shopping_cart .cart-contents {   
	background: none;
    border: medium none;    
    right: -13px;
    top: -5px;
}
.header_cart .togg .widget.widget_shopping_cart {top:27px; z-index:9999; text-align:left;}
#login-button
{
	background: transparent url("images/megnor/sprite-wc.png") no-repeat scroll 21px -120px;
    border-left: 1px solid #878787;
    float: right;
    padding: 10px 30px;
	cursor:pointer;
}
#login-button:hover {background: transparent url("images/megnor/sprite-wc.png") no-repeat scroll -25px -120px;}
.header_login {position:relative; float:none; display:inline-block;}
.header_logout {
  	background: #282d30;
    border-top-color:#45494a;
	border-width:1px 0 0;
	border-style:solid;
	
    display: none;
    position: absolute;
    right: 20px;
	padding:10px;
    top: 27px;
    width: auto;
	text-align:left;
    z-index: 999;}
.header_logout a{border:none;}

.header_cart .togg .widget.widget_shopping_cart { border-top: 1px solid #45494a; background:#282d30;}	
.header_cart .togg .widget.widget_shopping_cart .mini_cart_item a {color:#b8b8b8;}
.header_cart .togg .widget.widget_shopping_cart {color:#b8b8b8;}
.header_cart .togg .widget.widget_shopping_cart .mini_cart_item a:hover{color:#fff;}
.widget_shopping_cart_content .buttons .wc-forward{border:1px solid #fff;}
/********Navigation Menu************/
.mega-menu ul li a {font-size:16px;font-weight:700;}
.navigation-menu{text-align:center;}
.navigation .menu-home {float:none; display:inline-block;}
.mega-menu li:hover > a, .mega-menu li.focus > a, .mega-menu .current_page_item > a {color:#808080;}
.mega-menu #menu-menu > li > a::before {border-bottom:1px solid #808080;}
.mega-menu ul li.mega-hover a, .mega-menu ul li a:hover {color:#808080;}
.navigation .menu-home.active .menu-home-inner, .navigation .menu-home-inner:hover {background:transparent url("images/megnor/homemenu_active.png") no-repeat scroll center center}
.mega-menu ul li .sub a {color:#b8b8b8;}
.mega-menu ul li .sub {background-color: #161b1e; border-top: 2px solid #8c8c8c;}
.mega-menu ul li .sub li.mega-hdr a.mega-hdr-a {border-bottom:1px solid #8c8c8c;}
.mega-menu ul li .sub li {width:170px;}
.blog-posts-content .post-title a:hover {color:#8c8c8c;}
.mega-menu ul .sub li.mega-hdr li a, .mega-menu ul li .sub-container.non-mega li a {padding:3px 0;}
.mega-menu ul .sub li.mega-hdr li a:hover, .mega-menu ul li .sub-container.non-mega li a:hover {color:#fff;}

/*************Content*************************/
.primary-sidebar .widget:last-child {  margin: 0;}
#primary-sidebar .woocommerce.widget_product_categories:after, #primary-sidebar .woocommerce.widget_product_categories:before, #primary-sidebar .widgets-leftbanner:after, #primary-sidebar .widgets-leftbanner:before{display:none;}
.primary-sidebar .widget:after{
 border-bottom: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;
    bottom: 0;
    content: "";
    display: block;
    height: 1px;
    left: 0;
    position: absolute;
    right: 0;
    width: 100%;
	top:auto;
}
.primary-sidebar .widget:before{
	 border-bottom: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;
	top:0;
    content: "";
    display: block;
    height: 1px;
    left: 0;
    position: absolute;
    right: 0;
    width: 100%;
	bottom:auto;
}

.primary-sidebar .widget {
	background:none;
	margin:-3px 0; 
	position:relative;
	border-left:1px solid #e8e8e8;
	border-right:1px solid #e8e8e8;
}
.productpage-woosmall:before{
	 border-bottom: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;
	top:0;
    content: "";
    display: block;
    height: 1px;
    left: 0;
    position: absolute;
    right: 0;
    width: 100%;
	bottom:auto;
}
.productpage-woosmall:after{
	 border-bottom: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;
    bottom: 0;
    content: "";
    display: block;
    height: 1px;
    left: 0;
    position: absolute;
    right: 0;
    width: 100%;
	top:auto;
}
.productpage-woosmall{  
	border-left:1px solid #e8e8e8;
	border-right:1px solid #e8e8e8;
	position:relative;
}

.primary-sidebar .widgets-leftbanner{border:none;margin:25px 0 0 !important;}
.home .service-content.style-1 {padding:135px 0;}
.center .simple-type.small-title::before, .left .simple-type.small-title::before{border-bottom: 1px solid #161b1e;}
#horizontalTab {text-align:center;}
.main-container .resp-tabs-list {margin:0;}
.resp-tabs-list li.resp-tab-active, .resp-tabs-list li:hover {background:#000; color:#fff;}
.resp-tabs-list li {padding:10px 20px; margin: 0 10px; font-weight:900;} 

.resp-tabs-container {margin:40px 0 0;}
.resp-tabs-list li:first-child {padding:10px 25px;}

.cms-banner2, .cms-banner1 {margin:0;}
.woocommerce .products .star-rating, .woocommerce-page .products .star-rating {margin:15px auto 0;}
.woocommerce .products .star-rating span, .woocommerce-page .products .star-rating span {color:#f2b611;}

.woo-content .woocommerce ul.products li.product .onsale, .woocommerce span.onsale, .woocommerce-page span.onsale {color:#000; font-weight:bold;}
#woo-products {text-align:center; margin:0 -10px;}
.links a.icon:hover, .gallery-zoom .icon:hover, .gallery-redirect .icon:hover, .blog-posts-content .block_hover .icon:hover {
    background: #8c8c8c none repeat scroll 0 0;
    border: 2px solid #8c8c8c;
    transition: all 300ms ease 0s;
}
.blog-posts-content .comments-link a:hover {color:#8c8c8c;}
.home .service-content.style-1:hover {background:none;}
#primary-sidebar .woocommerce.widget_product_categories {background:#f5f5f5;}
.primary-sidebar .woocommerce.widget_product_categories ul li a, .primary-sidebar .woocommerce.widget_product_categories ul li::before {color:#8c8c8c;}
#primary-sidebar .woocommerce.widget_product_categories .widget-title {color:#161b1e;}
#primary-sidebar .woocommerce.widget_product_categories .widget-title::before {border-bottom:1px solid #000;}
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle, .woocommerce-page .widget_price_filter .ui-slider .ui-slider-handle {border:1px solid #161b1e;}

.woocommerce .wc-proceed-to-checkout .checkout-button, .woocommerce-page .wc-proceed-to-checkout .checkout-button {background:#161b1e;border-color:#161b1e;}
.woocommerce .wc-proceed-to-checkout .checkout-button:hover, .woocommerce-page .wc-proceed-to-checkout .checkout-button:hover {border:1px solid #161b1e; color:#161b1e;}
.woocommerce ul.cart_list li dl dd, .woocommerce ul.product_list_widget li dl dd, .woocommerce-page ul.cart_list li dl dd, .woocommerce-page ul.product_list_widget li dl dd {width:44%;}

.product-categories .collapsable-hitarea::before, .widget_pages .collapsable-hitarea::before, .widget_nav_menu .collapsable-hitarea::before, .product-categories .expandable-hitarea::before, .widget_pages .expandable-hitarea::before, .widget_nav_menu .expandable-hitarea::before {color:#8c8c8c;}

.woocommerce .woocommerce-message::before, .woocommerce-page .woocommerce-message::before {background-color:#161b1e;}
.woocommerce .woocommerce-message, .woocommerce-page .woocommerce-message {border-top:2px solid #161b1e;}

.primary-sidebar .woocommerce.widget_product_categories ul > li > a:hover {color: #161b1e;}

.single-testimonial .testimonial-designation a:hover { color: #878787;}
.breadcrumb_last, .woocommerce .woocommerce-breadcrumb span, .woocommerce-page .woocommerce-breadcrumb span{color:#161b1e;}

/*************Footer******************/

#to_top {
    background: transparent url("images/megnor/up.png") no-repeat; 
}
.footer-top-cms .service-content.style-2 .icon::before {border-bottom: 1px solid #878787;}
.footer-widget h3.widget-title::before {border-bottom: 1px solid #878787;}
.follow-us a:hover i { color: #e25740;}
.site-footer .newsletter td:before,.site-footer .tnp-subscription .tnp-field-email:before {color:#161b1e;}
.site-footer .newsletter .newsletter-submit,.site-footer .tnp-subscription .tnp-submit { background:#161b1e url("images/megnor/sprite-wc.png") repeat scroll 5px -716px;}
.site-footer .newsletter .newsletter-submit:hover,.site-footer .tnp-subscription .tnp-submit:hover { background:#808080 url("images/megnor/sprite-wc.png") repeat scroll 5px -746px;}
.footertop-band .simple-type.small-title::before {border-bottom:none;}


.widget .widget-title::before {border-bottom: 1px solid #000;}
.sticky .entry-content-date .icon {background:#161b1e;}
.entry-content-date .icon{background:#eee;}
.entry-content-date .icon::before {   color: #878787;}
.sticky .entry-date .day > a {background:#808080;}
.entry-date, .grid .blog-list .entry-date, .blog-list .entry-date {z-index:3;}
.sticky .entry-date:after
{
	background: #f25f43 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    transition: all 0.3s ease 0s;
    width: 100%;
    z-index: -1;
}
.entry-main-content:hover .entry-date:after {height:100%;}
.paging-navigation a:hover, .paging-navigation .page-numbers.current, .woocommerce #content nav.woocommerce-pagination ul li a:focus, .woocommerce #content nav.woocommerce-pagination ul li a:hover, .woocommerce #content nav.woocommerce-pagination ul li span.current, .woocommerce nav.woocommerce-pagination ul li a:focus, .woocommerce nav.woocommerce-pagination ul li a:hover, .woocommerce nav.woocommerce-pagination ul li span.current, .woocommerce-page #content nav.woocommerce-pagination ul li a:focus, .woocommerce-page #content nav.woocommerce-pagination ul li a:hover, .woocommerce-page #content nav.woocommerce-pagination ul li span.current, .woocommerce-page nav.woocommerce-pagination ul li a:focus, .woocommerce-page nav.woocommerce-pagination ul li a:hover, .woocommerce-page nav.woocommerce-pagination ul li span.current {background:#161b1e; border: 1px solid #161b1e;}
.entry-content-date .day > a {background:#161b1e; color:#fff;} 
.entry-date .day, .grid .blog-list .entry-date .day, .blog-list .entry-date .day {color:#fff;}
.sticky .entry-date .icon::before{color:#fff;}
h1.entry-title a {color:#161b1e;}
h1.entry-title a:hover{color:#878787;}
.entry-meta span:hover i.fa, .entry-meta span:hover a, .entry-meta span:hover a::before, .site-content .entry-meta span:hover .fa {color:#161b1e;}
ul.products.list li.product h3, ul.products.list li.product div[itemprop="description"], ul.products.list li.product .price, ul.products.list li.product .gridlist-buttonwrap {width:66% !important;}

.woocommerce #content div.product .woocommerce-tabs ul.tabs li.active a, .woocommerce div.product .woocommerce-tabs ul.tabs li.active a, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active a, .woocommerce-page div.product .woocommerce-tabs ul.tabs li.active a , .woocommerce #content div.product .woocommerce-tabs ul.tabs li a:hover, .woocommerce div.product .woocommerce-tabs ul.tabs li a:hover, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li a:hover, .woocommerce-page div.product .woocommerce-tabs ul.tabs li a:hover{
	color:#fff; border:none; background:#161b1e}

.woocommerce #content div.product .woocommerce-tabs ul.tabs li a, .woocommerce div.product .woocommerce-tabs ul.tabs li a, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li a, .woocommerce-page div.product .woocommerce-tabs ul.tabs li a
{	border:none;}
.woocommerce #content div.product .woocommerce-tabs .panel, .woocommerce div.product .woocommerce-tabs .panel, .woocommerce-page #content div.product .woocommerce-tabs .panel, .woocommerce-page div.product .woocommerce-tabs .panel{
    border-top: 2px solid #161b1e;
}

.widgets-footercontact .fa {color:#878787;}
.upsells.products > h2::before, .related.products h2::before, .cross-sells > h2::before {border-bottom:1px solid #161b1e;}
.tm_product_nav_buttons .previous a, .tm_product_nav_buttons .next a {color:#8c8c8c;}
.tm_product_nav_buttons .previous a:hover, .tm_product_nav_buttons .next a:hover {color:#161b1e;}
.style1 #tab ul li a.current, .style1 #tab ul li a:hover {background:#161b1e;}
.vertical_tab.style2 #tab ul li a.current, .vertical_tab.style2 #tab ul li a:hover { border-color: #f0efef -moz-use-text-color #f0efef #161b1e;}
.horizontal_tab.style2 #tab ul li a.current, .horizontal_tab.style2 #tab ul li a:hover {border-color: #161b1e #f0efef -moz-use-text-color;}

.address-label {color:#161b1e;}
.contact-input.last {
    margin: 0;
    width: 33.5%;
}
.address-text .fa {color:#161b1e;}
.blockquote-inner.style-1 blockquote.blockquote {border-right:5px solid #161b1e;}
.blockquote-inner.style-2 blockquote.blockquote {background-color:#161b1e;}
.blockquote-inner.style-4 blockquote.blockquote {border:2px solid #161b1e;}
.faqs-content.style-1 .toogle_div span.faq_title::after {color:#161b1e;}
.options {text-align:center;}
.options li a:active, .options li a.selected, .options li a:hover {color:#161b1e;} .options li a {color:#8c8c8c;}

.primary-sidebar .widget input[type="submit"], .primary-sidebar .widget .button {background:none;}
.fa {color:#161b1e;}

/**********		Subbbanner Start		**********/
.subbanner .subbanner-inner a{display:inline-block;position:relative;overflow:hidden;vertical-align: top;}
.subbanner1{margin:0 10px 0 0;}
.subbanner2{margin:0 0 0 10px;}
.subbanner3{margin-left:10px;}

.hover_glass{  
    bottom: 0;
    cursor: pointer;
    height: auto;
    left: 0;
    margin: 10px;
    
	background:rgba(0,0,0,0.2);
    position: absolute;
    right: 0;
    top: 0;    
    width: auto;
	
	opacity:0;
	-khtml-opacity: 0;
	-webkit-opacity: 0;
	-moz-opacity:0;	
	 
	transition: all 0.4s ease 0s;
	-webkit-transition: all 0.4s ease 0s;
	-moz-transition: all 0.4s ease 0s;
	-ms-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;	
}
.subbanner-inner:hover .hover_glass {
	opacity:1;
	-khtml-opacity: 1;
	-webkit-opacity: 1;
	-moz-opacity:1;	
}

/**********		Subbbanner End		**********/

.cms-banner1 .static-wrapper {left:120px; bottom:20px;}
.text1.static-text {color:#161b1e; font-family:"Montserrat", Arial, Helvetica, Sans-seriff; font-size:30px;}
.cms-banner1 .text2.static-text {color:#161c1e; font-family:"Montserrat", Arial, Helvetica, Sans-seriff; font-size:14px; display:block;}
.cms-banner1 .text3.static-text {transform:none;}

.single-product-full .entry-summary .single_add_to_cart_button{background-color:#161b1e;color:#ffffff;}
.single-product-full .entry-summary .single_add_to_cart_button:hover{background-color:#ffffff;color:#161b1e;}
.entry-summary .yith-wcwl-wishlistexistsbrowse.show > a:hover, .woocommerce a.compare.button:hover, .entry-summary .add_to_wishlist:hover{color:#161B1E;}
.entry-summary .yith-wcwl-wishlistexistsbrowse.show > a, .woocommerce a.compare.button,.entry-summary .sku_wrapper, .entry-summary .variations label, .entry-summary .add_to_wishlist{color:#878787;}